* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: #4f1313;
  color: #957171;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #110404;
  font-family: "Mulish", sans-serif;
  background: rgb(115, 98, 87);
  background: linear-gradient(
    212deg,
    rgba(115, 98, 87, 1) 0%,
    rgba(17, 4, 4, 1) 65%
  );
}
p {
  color: #f6f7eb;
  font-family: "Mulish", sans-serif;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-bold {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.philosopher-regular-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.mulish-ff {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

nav {
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60px;
  z-index: 9;
  padding: 1rem;
  background: rgba(130, 190, 222, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-links ul {
  margin-left: 150px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  padding: 10px 0;
  font-family: "Mulish", sans-serif;
}

.nav-links a {
  color: white;
  text-decoration: none;
  display: inline-block;
}
.nav-links ul li a:hover {
  transform: translateY(-3px);
  transition: transform 0.5s ease;
}

.my-links {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.nav-resume {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "mulish", sans-serif;
}

.nav-resume a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4f1313;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-resume a:hover {
  box-shadow: 0 0 12px #4f1313;
  background-color: #4f1313;
  transition: background-color 0.3s ease;
}

.nav-logo {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 99;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.nav-resume a::before {
  content: "📄 ";
}

.mobile-nav {
  display: none;
  width: 90%;
  background-color: #4f131300;
  border-radius: 4px;
  justify-content: baseline;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -35px;
}

.mobile-nav-logo {
  text-align: center;
  width: 100%;
  justify-content: baseline;
  align-items: center;
}

.mobile-nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.mobile-nav-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.mobile-nav-links {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 10px;
}

.mobile-nav-links a {
  transition: transform 0.3s ease, color 0.3s ease;
}

.mobile-nav-links a:hover {
  transform: translateY(-2px);
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.mobile-nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-links li {
  padding: 10px;
  text-align: center;
}

.mobile-nav-links a {
  color: white;
  text-decoration: none;
}

.hero_section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 3% 0px 3%;
}

.hero_content_left h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f6f7eb;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.hero_content_left p {
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 800px;
}

.hero_content_left {
  width: 70%;
  padding-left: 0;
}

.hero_content_right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content_right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.hero_content_right img:hover {
  transform: translateY(-5px);
}
.hero_section2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0% 0% 0px 0%;
}
.hero_section2_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.scrollAnimate {
  color: #fff;
  position: absolute;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .nav,
  .nav-container {
    display: none !important;
  }
  .hero_section {
    margin-top: 150px;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .hero_content_left,
  .hero_content_right {
    width: 100%;
  }

  .hero_content_right {
    margin-top: -30px;
  }

  .hero_content_right img {
    max-width: 100%;
  }

  .hero_content_left h1 {
    font-size: 3rem;
  }

  .hero_content_left p {
    max-width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  .nav-toggle {
    display: block;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .mobile-nav {
    display: block;
    height: 15vh;
  }
  .hero_content_right img {
    max-width: 80%;
    max-height: 80%;
  }
  .keyboard-image-box {
    position: relative;
    bottom: 0;
    right: 0;
    max-width: 400px;
  }
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.role-container {
  position: relative;
  height: 100px;
  overflow: hidden;
  font-size: 5rem;
  color: #5c544d;
  font-weight: bolder;
}

.role {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.role.active {
  opacity: 1;
}
.keyboard-image-box {
  z-index: 0;
  position: absolute;
  bottom: -45%;
  right: 25%;
  max-width: 600px;
}
.keyboard-image {
  z-index: 0;
  width: 100%;
  height: auto;
  transform: rotate(20deg);
  transition: transform 0.3s ease, rotate 0.3s ease;
}
.keyboard-image:hover {
  transform: translateY(-10px);
}

.scrolling-text-container {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  animation: rotate-360 20s linear infinite;
  pointer-events: none;
}

.scrolling-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f6f7eb;
  font-size: 18px;
  opacity: 0.5;
}

.scrolling-text span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-origin: 50% 50%;
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.scrolling-text span:nth-child(1) {
  transform: rotate(0deg);
}
.scrolling-text span:nth-child(2) {
  transform: rotate(-20deg);
}
.scrolling-text span:nth-child(3) {
  transform: rotate(-40deg);
}
.scrolling-text span:nth-child(4) {
  transform: rotate(-60deg);
}
.scrolling-text span:nth-child(5) {
  transform: rotate(-80deg);
}
.scrolling-text span:nth-child(6) {
  transform: rotate(-100deg);
}
.scrolling-text span:nth-child(7) {
  transform: rotate(-120deg);
}
.scrolling-text span:nth-child(8) {
  transform: rotate(-140deg);
}
.scrolling-text span:nth-child(9) {
  transform: rotate(-160deg);
}
.scrolling-text span:nth-child(10) {
  transform: rotate(-180deg);
}
.scrolling-text span:nth-child(11) {
  transform: rotate(-200deg);
}
.scrolling-text span:nth-child(12) {
  transform: rotate(-220deg);
}
.scrolling-text span:nth-child(13) {
  transform: rotate(-240deg);
}
.scrolling-text span:nth-child(14) {
  transform: rotate(-260deg);
}
.scrolling-text span:nth-child(15) {
  transform: rotate(-280deg);
}
.scrolling-text span:nth-child(16) {
  transform: rotate(-300deg);
}
.scrolling-text span:nth-child(17) {
  transform: rotate(-320deg);
}
.scrolling-text span:nth-child(18) {
  transform: rotate(-340deg);
}
.marquee-container {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.marquee {
  width: max-content;
  height: max-content;
  display: flex;
  white-space: nowrap;
  position: absolute;
  top: 50px;
  color: #ffffff;
  font-size: 10rem;
  /* animation: marquee 1000s linear infinite; */
  opacity: 0.2;
  font-weight: bolder;
}

.marquee span {
  display: inline-block;
}
